<ion-header >
  <ion-toolbar class="overview_header">
    <ion-buttons slot="end">
      <ion-button class="settings_button" (click)="presentSettings($event)">
        <ion-icon name="settings-sharp"></ion-icon>      </ion-button>    
    </ion-buttons>
    <ion-title>My senseBox</ion-title>  

  </ion-toolbar>
</ion-header>

<ion-content padding class="overview_background">
  <ion-grid >
    <ion-row class="box" *ngFor="let box of boxes">
      <ion-col>
        <ion-row class="box_title">{{box.name}} </ion-row>
          <ion-row class="box_subtitle">
            <ion-icon name="wifi-outline"></ion-icon> {{box.model}}<ion-icon name="location-outline"></ion-icon> 52.7, 7.14<ion-icon name="hardware-chip-outline"></ion-icon>{{box.sensors.length}} Sensoren
          </ion-row>
          <ion-row class="button_wrapper">
            <ion-col (click)="forwardBox(box)"class="box_button analytics">
              Show senseBox
            </ion-col>
            <ion-col (click)="forwardSketch(box)" class="box_button sketch">
                Upload Sketch
            </ion-col>
          </ion-row>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>