<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="presentSettings(event)">
        <ion-icon name="settings-sharp"></ion-icon>      </ion-button>    
    </ion-buttons>
    <ion-title>My senseBox</ion-title>  

  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let box of boxes">
      <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{box.name}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            {{'MYSENSEBOX.EXPOSURE' | translate}}: {{box.exposure}}
          </ion-row>
          <ion-row>
            Model: {{box.model}}
          </ion-row>
          <ion-row>
           ID: <code>{{box._id}}</code>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" class="actionButton" color="secondary" (click)="forwardBox(box)">{{'MYSENSEBOX.SHOW' | translate}}</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" class="actionButton" color="secondary" (click)="forwardSketch(box)">{{'MYSENSEBOX.SKETCH' | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>