.overview_background {
    --background:var(--white);
}

ion-icon{
    padding-left:0.25em;
}
.analytics {
    background-color:var(--secondary);
    border-radius: 10px 0px 0px 10px;
}
.sketch {
    background-color:var(--yellow);
    border-radius: 0px 10px 10px 0px;
}

.preview_box {
    background-color:var(--white);
    color:var(--black);
    margin:15px;
    box-shadow:0 0 7px var(--grayfont);
}
.preview_box_subtitle {
    color:#666;
    font-size: 10pt;
    margin:2px 0px 5px 0px;
}
.preview_box_title{
    font-size:14pt;
}