.overview_background {
    --background:#f6f6f6;
}

.actionButton{

}

.overview_header {
    --background:#4EAF47
}

.box {
    background-color:white;
    color:black;
    margin:15px;
}
.box_button {
    
}

.analytics {
    background-color:#45beed;

}

.sketch {
    background-color:#fff200;

}
.button_wrapper {
    text-align:center
}
.box_subtitle {
    color:darkgrey;
    font-size: 10pt;
}
.box_title{
    font-size:22pt;
}