ion-content {
    //--background:#f6f6f6;
    --background:url('/./assets/imgs/osem.jpg');
}
.login_background {
    text-align:center;
    display: table;
}

.back_button{
    --color:var(--white);

}

.register_h1{
    width:100%;
    text-align: center;
    font-size:44px;
    color:var(--black)
}
.login_wrapper {
    position: relative;
     top: 25%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  
}
.login_button {
    width:100%;
    margin:5px;
    --background:  var(--secondary);
    --border-radius:25px 
}

.login_input {
    --background:#var(--white);
    margin:10px;
    border-radius: 15px;
    color:var(--black);
    box-shadow:0 0 5px var(--grayfont);
}
