ion-content {
    //--background:#f6f6f6;
    --background:url('/./assets/imgs/osem.jpg');
}
.login_background {
        text-align:center;
    display: table;
}
.register_header{
    // --background:#efec06;
    // --border-color:#efec06
}

.back_button{
    --color:white;

}

.register_h1{
    width:100%;
    text-align: center;
    font-size:44px;
    color:#333
}
.login_wrapper {
    position: relative;
     top: 25%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  
}
.login_button {
    width:100%;
    margin:5px;
    --background:  #45beed;
    --border-radius:25px 
}

.login_input {
    --background:white;
    margin:10px;
    border-radius: 15px;
    color:#333
    
}
