.login_background {
    --background:linear-gradient(346deg, #45beed 1%, #4eaf47 40%, #fff200 100%);
        text-align:center;
    display: table;
}
.register_header{
    --background:#efec06;
    --border-color:#efec06
}
.login_wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
}


.login_input {
    --background:white;
    margin:10px;
    border-radius: 25px;
    color:#45beed
    
}
