<ion-header>
  <ion-toolbar class="sketchtoolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background" padding>
  <ion-grid>
    <ion-slides #slides (ionSlideDidChange)="onSlideChange()" class="slides" pager="true">
      <ion-slide #intro>
        <ion-grid>
          <ion-row><img src="assets/imgs/senseboxmcu.png"></ion-row>
          <h1 class="headline">Welcome to Upload</h1>
          <h2 class="subtitle">To upload the sketch please ensure that you have a running OTA sketch on your senseBox</h2>
          <ion-button size="large" (click)="slides.slideNext()" class="start_button">Start</ion-button>
        </ion-grid>
      </ion-slide>
      <ion-slide #wifi>
        <ion-grid>
          <h1 class="headline">We need your WiFi</h1>
          <h2 class="subtitle">Please enter the SSID an password of the network you want your senseBox connected to.</h2>
          <ion-row style="margin-top:7rem">
            <ion-input class="wifiinput ssid" placeholder="SSID" name="ssid" type="text" ngModel required></ion-input>
          </ion-row>
          <ion-row>
            <ion-input class="wifiinput pw" name="password" type="password" placeholder="Password" ngModel required>
            </ion-input>
          </ion-row>
          <ion-button size="large" (click)="slides.slideNext()" class="start_button">Continue</ion-button>
        </ion-grid>
      </ion-slide>
      <ion-slide #mode>
        <ion-grid class="modeGrid">
          <h1>Choose connection mode</h1>
          <h2 class="subtitle">Depending on the sketch you uploaded, please select a connection mode</h2>
          <ion-row>
            <ion-col>
              <div #automatic (click)="toggleAutomatic()"
                [ngClass]="selected==='automatic'? 'selected circle' : 'not_selected circle' ">
                <div class="circle_content">
                  <ion-icon class="connection_icon" name="wifi-outline"></ion-icon><br>
                  Automatic
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div #manual (click)="toggleManual()"
                [ngClass]="selected==='manual'? 'selected circle' : 'not_selected circle' ">
                <div class="circle_content">
                  <ion-icon class="connection_icon" name="hammer-outline">
                  </ion-icon><br>
                  Manual
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-button size="large" (click)="slides.slideNext()" class="start_button">Continue</ion-button>
        </ion-grid>
      </ion-slide>
      <ion-slide #automatic *ngIf="selected==='automatic'">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ol class="list_automatic" start="0">
                <li>
                  IP Address of the senseBox
                  <input [(ngModel)]="OTAAddress" placeholder="Address"/>
                </li>
                <li>Upload the Over-the-Air Sketch from the OpenSenseMap to the senseBox</li>
                <li>Connect this device to the same network the senseBox is connected with</li>
                <li>Click Continue</li>
              </ol>
            </ion-col>
          </ion-row>
          <ion-button size="large" (click)="slides.slideNext()" class="start_button">Continue</ion-button>
        </ion-grid>
      </ion-slide>
      <ion-slide #manual *ngIf="selected==='manual'">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-12>
              <img class="tutorial_gif" src="assets/imgs/ota_modus.gif" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ol style="text-align:left;">
                <li>Press and hold switch button </li>
                <li>Press red button shortly</li>
                <li>Release the switch button after one second</li>
              </ol>
            </ion-col>
          </ion-row>
          <ion-button size="large" (click)="slides.slideNext()" class="start_button">Continue</ion-button>
        </ion-grid>
      </ion-slide>
      <ion-slide #placeholder *ngIf="selected!=='manual' && selected!=='automatic'">
        <ion-grid>
          <h1>Placeholder</h1>
        </ion-grid>
      </ion-slide>
      <ion-slide #final>
        <h1>Uploading....</h1>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>