<ion-header>
  <ion-toolbar class="sketchtoolbar">
    <ion-buttons slot="start">
      <ion-back-button class="back_button"></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Sketch</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background" padding>
  <ion-grid>
    <ion-slides #slides pager="true" (ionSlideDidChange)="onSlideChange()" class="slides">
      <!-- intro -->
      <ion-slide>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-icon name="wifi" style="font-size: 160px"></ion-icon>
              <h2>Welcome</h2>
              <p>To transfer your code to your senseBox over the air (OTA), please follow these steps.</p>
            </ion-col>

            <ion-col size="12">
              <p>First please make sure that your senseBox ... </p>
              <ul style="text-align: left">
                <li>has the <b>WiFi Bee</b> plugged in XBEE Slot 1</li>
                <li>has the initial <b>Webserver Sketch</b> installed</li>
                <li>is powered</li>
              </ul>
              <ion-button class="continue_btn" size="large" fill="clear" (click)="slides.slideNext()">
                CONTINUE
                <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!-- intro -->
      <ion-slide>
        <ion-grid>
          <div id="wifi-manual" class="center-div">
            <h2>Connect to your senseBox</h2>
            <p>Your senseBox should have created a WiFi network. Because we can not do this automatically on your
              platform, please connect to it manually.</p>
            <ion-button class="continue_btn" size="large" fill="clear" (click)="slides.slideNext()">
              CONTINUE
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-grid>
      </ion-slide>
      <!-- wifi selection -->
      <ion-slide id="wifi" #wifi>
        <ion-grid>
          <ion-row class="box">
            <ion-col>
              <ion-row class="box_title">{{box.name}} </ion-row>
              <ion-row class="box_subtitle">
                <ion-icon name="location-outline"></ion-icon>
                {{ 'OVERVIEWNEWBOX.LNG' | translate }}:{{box.currentLocation.coordinates[0]}}
                {{ 'OVERVIEWNEWBOX.LAT' | translate }}:{{box.currentLocation.coordinates[1]}}<ion-icon
                  name="hardware-chip-outline"></ion-icon>{{box.sensors.length}}
                {{ 'OVERVIEWNEWBOX.SENSOR_COUNT' | translate }} <ion-icon name="cloud-outline"></ion-icon>
                {{box.exposure}}
              </ion-row>
              <ion-row>
                <table #sensorTable class="sensorTable">
                  <tr *ngFor="let sensor of box.sensors">
                    <td>{{sensor.title}}</td>
                    <td>{{sensor.unit}}</td>
                    <td>{{sensor.sensorType}}</td>
                  </tr>
                </table>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item lines="none" class="newbox_input">
              <ion-label position="stacked">SSID</ion-label>
              <ion-input minlength="4" [(ngModel)]="ssid" type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="newbox_input">
              <ion-label position="stacked">Password</ion-label>
              <ion-input minlength="4" [(ngModel)]="passwordWifi" type="password"></ion-input>
            </ion-item>
            <ion-col size="6">
              <ion-item lines="none" class="newbox_input">
                <ion-label position="stacked">Security Mode</ion-label>
                <ion-select [(ngModel)]="wifiSecurity" value="WPA">
                  <ion-select-option value="WPA">WPA</ion-select-option>
                  <ion-select-option value="WPA2">WPA2</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none" class="newbox_input">
                <ion-label position="stacked">Mode(Optional)</ion-label>
                <ion-select [(ngModel)]="ipSettings" value="DHCP">
                  <ion-select-option value="DHCP">DHCP(default)</ion-select-option>
                  <ion-select-option value="notDHCP">not DHCP(not default)</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button type="submit" (click)="uploadToSenseBox()" class="register_button">{{ 'NEWBOX.BTN_ADDBOX' | translate }}</ion-button>
          </ion-row>        
        </ion-grid>

      </ion-slide>
      <ion-slide #result>
        <ion-grid>
          <ion-row class="align-items-center center-div">
            <ion-col size="12">
                <ion-icon name="checkmark-circle-outline" style="font-size: 160px"></ion-icon>
                <h2>Successful!</h2>
                <p>Sketch has succesfully been uploaded! </p>

                <ion-button class="continue_btn" size="large" fill="clear" (click)="forwardBox(box)">
                  Go back to Box
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>