ion-slides {
  --bullet-background-active: var(--primary);
  --bullet-background: var(--darkgray);
}

.background {
  --background: var(--white);
}

.continue_btn {
  --color: var(--primary);
}

.box {
  background-color: white;
  color: var(--black);
  margin: 15px;
  box-shadow: 0 0 5px #2223;
}
.box_subtitle {
  color: #666;
  font-size: 10pt;
  margin: 2px 0px 5px 0px;
}
.box_title {
  font-size: 14pt;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.sensorTable {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--white);
}
.upload_button {
  width: 100%;
  margin: 5px;
  --background: var(--primary);
  --border-radius: 15px;
}
.upload_input {
  --background: var(--white);
  margin: 10px;
  border-radius: 25px;
  color: var(--black);
  box-shadow: 0 0 5px #ccc;
}
.back_button {
  --color: var(--white);
}

ion-slide {
  p,
  ul,
  ol {
    padding: 0 16px;
    font-size: 18px;
    line-height: 1.4;
    color: var(--darkgray);

    b {
      color: #000000;
      font-weight: 500;
    }
  }

  ul,
  ul {
    list-style-type: disc;
  }
}
