.floatright{
    float:right;
    margin-top:50px
}

code {
    color:#c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

img {
    margin-bottom:20px;
}
.background {
    --background:#f6f6f6;
}

.sketchtoolbar {
    --background:#4EAF47;
    --border-color:#4EAF47
}
.back_button{
    --color:#fff;
}

.slides {
    color:black;
    --bullet-background-active:#4eaf47

}

.start_button{
    --background:white;
    --color:#333;
    --border-radius:2px;
    --border-width:5px;
    --box-shadow:0px 0px 10px  #888888;
    margin:50px;
}

.wifiinput{
    --background:white;
    border-radius:25px;
    margin:5px;
}

.circle {
    border-radius: 50%;
    background:white;
    width:10rem;
    height:10rem;
    display:table;
}
.circle_content{
    vertical-align: middle;
    display:table-cell;
}

.connection_icon{
    font-size:4.5rem;
}
.selected{
    background-color: #4eaf47;
}
.not_selected{
    background-color: white;
}

.modeGrid{
    margin-top:8rem;
}

.tutorial_gif {
    margin-top:5rem;
    border-radius: 25px;
   }

.list_automatic {
    text-align: left;
    margin-top:10rem;
}
.subtitle {
    color:#4eaf47
}
.headline {
    color:darkslategray
}