<ion-header>
  <ion-toolbar>
    <ion-title>{{'newbox.confirm.title'|translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    {{'newbox.confirm.text'|translate}}
  </ion-row>
  <br>
  <ion-row>
    <ion-list>
      <ion-label>{{'newbox.confirm.name'|translate}}:<b>{{box.name}} </b> </ion-label><br>
      <ion-label>{{'newbox.confirm.exposure'|translate}}:<b>{{box.exposure}} </b> </ion-label><br>
      <ion-label>{{'newbox.confirm.selectedSensors'}}:</ion-label>
      <ul>
        <li *ngFor="let sensor of sensors">{{sensor.name}} </li>
      </ul>
    </ion-list>
  </ion-row>
  <br>
  <ion-row>
    {{'newbox.confirm.disclaimer'|translate}}
  </ion-row>
  <ion-row class="floatright">
      <ion-button (click)="dismissModal()" color="danger" >{{'newbox.abortbox'|translate}} </ion-button>
      <ion-button (click)="handleConfirmation()" color="success">{{'newbox.confirmbox'|translate}}</ion-button>
    </ion-row>
</ion-grid>
</ion-content>
