ion-icon{
    padding-left:0.25em;
}
.floatright{
    float:right;
    padding:20px
}

.newbox_background {
    --background:var(--white);
}

.wrapper {
    color:var(--black)

}

.box {
    background-color:var(--white);
    color:var(--black);
    margin:15px;
    box-shadow:0 0 5px var(--grayfont);
}
.box_subtitle {
    color:var(--darkgray);
    font-size: 10pt;
    margin:2px 0px 5px 0px;
}
.box_title{
    font-size:14pt;
}

.sensorTable {
    border-collapse: collapse;
    width: 100%;
    background-color:var(--white);
  }
  

.confirm_text{
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1
}
.confirm_disclaimer{
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc;
}
.alert {
    border-radius:4px;
    padding:10px;
    border:1px solid transparent

}