.floatright{
    float:right;
    padding:20px
}

.newbox_background {
    --background:#f6f6f6;
}

.wrapper {
    color:#333

}
.newbox_header {
    --background:#4ebe4b;
    --border-color:#4ebe4b;
}

.list {
    background-color: #f6f6f6;
}


.box {
    background-color:white;
    color:#333;
    margin:15px;
    box-shadow:0 0 5px #ccc;
}
.box_subtitle {
    color:#666;
    font-size: 10pt;
    margin:2px 0px 5px 0px;
}
.box_title{
    font-size:14pt;
}
ion-icon{
    padding-left:0.25em;
}
.sensorTable {
    border-collapse: collapse;
    width: 100%;
    background-color:#fff;
  }
  
  .measurementTable td, .measurementTable th {
    text-align: left;
    color:#333;
    padding:0.5rem
  }
  
  .measurementTable tr:nth-child(even){background-color: #9999}
  
  
  .measurementTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #333;
  }

.confirm_text{
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1
}
.confirm_disclaimer{
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc;
}
.alert {
    border-radius:4px;
    padding:10px;
    border:1px solid transparent

}