
ion-content {
    //--background:#f6f6f6;
    --background:url('/./assets/imgs/umutsensebox.jpg');
}
.login_background {
    text-align:center;
    display: table;

}   

.login_wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
}

.login_input {
    --background:white;
    margin:10px;
    border-radius: 25px;
    color:black
    
}

.shadow{
    text-shadow: 0 0 2px white

}

.login_button {
    width:100%;
    margin:5px;
    --background: var(--secondary);
    --border-radius:25px ;
    --color:var(--black);
    text-shadow: 0 0 2px white
}

.register_button {
    width:100%;
    margin:5px;
    --background:  var(--yellow);
    --border-radius:25px ;
    --color: var(--black);
    text-shadow: 0 0 2px white

}

.floatright{
    float:right;
    margin-top:50px;
}

.keepSignedIn{

    display:inline-block;
    
}

.keepSignedInItem{
    --background:None;
    --color:#333

}
.keepSignedInCheckbox{
    --background:#fff;
    --background-checked:var(--primary);
    margin:0.5rem;
    --size:1.75rem
}