<ion-content padding class="login_background">
  <ion-grid class="login_wrapper">
    <form #form="ngForm" (ngSubmit)="submitLogin(form)">
      <ion-row><img src="assets/imgs/openSenseMap_github.png"></ion-row>
      <ion-row>
        <ion-input class="login_input" placeholder="email" name="email" type="email" ngModel required></ion-input>
      </ion-row>
      <ion-row>
        <ion-input class="login_input" name="password" type="password" placeholder="Password" ngModel required>
        </ion-input>
      </ion-row>
      <ion-row>
        <ion-button class="login_button " type="submit"><div class="shadow"> {{ 'LOGIN.LOGIN' | translate }}</div></ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="register_button" (click)="register()"><div class="shadow">{{ 'LOGIN.REGISTER' | translate }}</div></ion-button>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
