ion-content {
    --background:url('/./assets/imgs/umutsensebox.jpg');
    text-align:center;
    display:table;
}
.login_wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
 
}

.login_input {
    --background:white;
    margin:10px;
    border-radius: 25px;
    color:black
    
}


.login_button {
    width:100%;
    margin:5px;
    --background: var(--secondary);
    --border-radius:25px ;
    --color:var(--black);
    text-shadow: 0 0 2px white
}

.register_button {
    width:100%;
    margin:5px;
    --background:  var(--yellow);
    --border-radius:25px ;
    --color: var(--black);
    text-shadow: 0 0 2px white

}

.keepSignedIn{

    display:inline-block;
    
}

.keepSignedInItem{
    --background:None;
    --color:--var(--black)

}
.keepSignedInCheckbox{
    --background:var(--white);
    --background-checked:var(--primary);
    margin:0.5rem;
    --size:1.75rem
}