<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back_button"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'NEWBOX.TITLE' | translate }}</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="newbox_background">
  <ion-grid class="loggin_wrapper">
    <form (ngSubmit)="handleNewBox(form)" #form="ngForm">
      <ion-item lines="none" class="newbox_input">
        <ion-label position="stacked">Name</ion-label>
        <ion-input minlength="4" ngModel name="name" required="true" type="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <div #automatic (click)="toggleOutdoor()"
            [ngClass]="selected==='outdoor'? 'selected rectangle' : 'not_selected rectangle' ">
            Outdoor
          </div>
        </ion-col>
        <ion-col>
          <div #automatic (click)="toggleIndoor()"
            [ngClass]="selected==='indoor'? 'selected rectangle' : 'not_selected rectangle' ">
            Indoor
          </div>
        </ion-col>
        <ion-col>
          <div #automatic (click)="toggleMobile()"
            [ngClass]="selected==='mobile'? 'selected rectangle' : 'not_selected rectangle' ">
            Mobile
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item lines="none" class="newbox_input">
          <ion-label  position="stacked">{{ 'NEWBOX.LONGITUDE' | translate }}</ion-label>
          <ion-input  ngModel name="longitude" required="true" type="text"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none" class="newbox_input">
          <ion-label  position="stacked">{{ 'NEWBOX.LATITUDE' | translate }}</ion-label>
          <ion-input ngModel name="latitude" required="true" type="text"></ion-input>
        </ion-item>
        <ion-button class="get_button" (click)="handleUserLocation()">
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row align-items-center>
        <ion-label class="label_sensoren"><b>{{ 'NEWBOX.INPT_SENSORS' | translate }}</b></ion-label>
      </ion-row>
      <ion-row>
        <ion-item lines="none" class="newbox_input" *ngFor="let sensor of sensors">
          <ion-label>{{sensor.title}} </ion-label>
          <ion-checkbox class="checkbox_sensor" name={{sensor.title}} [(ngModel)]="sensor.isChecked" slot="start">
          </ion-checkbox>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-button type="submit" class="addbox_button">{{ 'NEWBOX.BTN_ADDBOX' | translate }}</ion-button>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>