.newbox_background {
    --background:#f6f6f6;
}

.newbox_header{
    --background:#4ebe4b;
    --border-color:#4ebe4b
}

.newbox_input{
    --background:#fff;
    margin:10px;
    border-radius: 25px;
    color:#333;
}
.back_button{
    --color:#fff;

}

.location_input{
    --background:#fff;
    border-radius:10px
}
.exposure_button{
    --background-focused:#4ebe4b;
    --background-activated:#4ebe4b
}
.get_button{
    margin:10px;
    margin-top:25px
}

.label_sensoren{
    color:#333
}
.checkbox_sensor{
    --background:#fff;
    --background-checked:#4EAF47
}

.register_button {
    width:100%;
    margin:5px;
    --background:  #45beed;
    --border-radius:15px 
}