.back_button{
    --color:var(--white);
}

.newbox_background {
    --background:var(--white);
}

.newbox_input{
    --background:var(--white);
    margin:10px;
    border-radius: 25px;
    color:var(--black);;
    box-shadow:0 0 5px var(--grayfont);
}

.get_button{
    margin:10px;
    margin-top:25px;
    --background:var(--secondary)
}

.label_sensoren{
    color:var(--black)
}
.checkbox_sensor{
    --background:var(--white);
    --background-checked:var(--primary);
}

.addbox_button {
    width:100%;
    margin:5px;
    --background:  var(--primary);
    --border-radius:15px 
}

.rectangle {
    background-color:var(--secondary);
    text-align:center;
    padding:10px;
    border-radius:15px;
    color:var(--white)
}

.selected{
    background-color: var(--primary);
}
.not_selected{
    background-color:var(--secondary);
}

