<ion-header>
  <ion-toolbar class="box_header">
    <ion-buttons slot="start">
      <ion-back-button class="back_button"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!favorit" class="favorit_button" (click)="addFavorit()">
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="favorit" class="favorit_button" (click)="removeFavorit()">
        <ion-icon  name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{box.name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="des" [fullscreen]="true">
  <ion-grid *ngIf="!newBox;else noMeasurement" class="wrapper">
    <ion-row class="titlewrapper measurements">
      <table #measurementTable class="measurementTable">
        <tr *ngFor="let sensor of box.sensors">
          <td>{{sensor.title}} </td>
          <td>{{sensor.lastMeasurement.value}} {{sensor.unit}} </td>
        </tr>
      </table>
    </ion-row>
    <ion-row class="titlewrapper">
      <div class="time">
        {{ 'BOX.LASTMEASUREMENT' | translate }} {{date}}
      </div>
    </ion-row>
    <ion-row class="canvasElement">
      <ion-slides class="pager" pager="true">
        <ion-slide *ngFor="let sensor of box.sensors">
          <canvas class="actualCanvas" height="240" [id]="sensor.title + 'Canvas'"></canvas>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #noDescription>{{'box.error.description'}}</ng-template>
<ng-template #noMeasurement>
  <ion-grid class="wrapper">
    <ion-row>
    <table #measurementTable class="measurementTable">
      <tr *ngFor="let sensor of box.sensors">
        <td>{{sensor.title}} </td>
        <td>{{sensor.unit}} </td>
        <td>{{sensor.sensorType}} </td>
      </tr>
    </table>
  </ion-row>
  <ion-row>
    <div class="noMeasurements">
      {{ 'OVERVIEWNEWBOX.NO_MEASUREMENT' | translate }}
    </div>
  </ion-row>
  </ion-grid>
</ng-template> 