<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!favorit" class="favorit_button" (click)="addFavorit()">
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="favorit" class="favorit_button" (click)="removeFavorit()">
        <ion-icon  name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{box.name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid *ngIf="!newBox;else noMeasurement" class="wrapper">
    <ion-row class="titlewrapper measurements">
      <table #measurementTable class="measurementTable">
        <tr *ngFor="let sensor of box.sensors">
          <td>{{sensor.title}} </td>
          <td>{{sensor.lastMeasurement.value}} {{sensor.unit}} </td>
        </tr>
      </table>
    </ion-row>
    <ion-row class="titlewrapper">
      <div class="time">
        {{ 'BOX.LASTMEASUREMENT' | translate }} {{date}}
      </div>
    </ion-row>
    <ion-row class="canvasElement">
      <ion-slides pager="true">
        <ion-slide class="canvasSlide" *ngFor="let sensor of box.sensors">
          <div style="width:95%">
          <canvas class="actualCanvas" height="240" [id]="sensor.title + 'Canvas'"></canvas>
        </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #noDescription>{{'box.error.description'}}</ng-template>
<ng-template #noMeasurement>
  <ion-grid class="wrapper">
    <ion-row class="titlewrapper measurements">
    <table #measurementTable class="measurementTable">
      <tr *ngFor="let sensor of box.sensors">
        <td>{{sensor.title}} </td>
        <td>{{sensor.unit}} </td>
        <td>{{sensor.sensorType}} </td>
      </tr>
    </table>
  </ion-row>
  <ion-row class="titlewrapper ion-align-items-center">
    <div class="center-div">
      {{ 'BOX.NO_MEASUREMENT' | translate }}

      <ion-button class="continue_btn" size="large" fill="clear" (click)="forwardSketch(box)">
        Upload Sketch to senseBox
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-row>
  </ion-grid>
</ng-template> 