.box_background{
    // --background:#fff
}
.box_upper{
    height:50%;
    color:#333;
    background-color:var(--white);
    margin:20px;
}
.box_lower{
    height: 50%;
    color:var(--black);
    background-color:white;
    margin:20px;

}

.box_subtitle{
    text-align: justify;
}

.box_title{
    font-size:50px;
    margin-top:10px
}


.favorit_button{
    --color:white;
}


.title{
    text-align:left;
    margin:2px;
    font-size: 2rem;
    color:var(--black);
}
.titlewrapper {
    display: block;
}

.time{
    text-align:center;
    margin:15px 0px 10px 0px;
    font-size: 1rem;
    color:var(--black);
}
.iconwrapper {
    display:block
}

.iconelement {
    text-align: center;
}

.measurements {
    text-align: center;
    margin:10px 0px 0px 10px;
    font-size: 1rem;
}

.actualCanvas {
    box-shadow: 0 0 5px var(--grayfont);
}

.canvasSlide{

    padding:5px;
}
.measurementTable {
    border-collapse: collapse;
    width: 96.5%;
    background-color:var(--white);
    box-shadow:0 0 5px var(--grayfont)
  }
  
  .measurementTable td, .measurementTable th {
    text-align: left;
    color:var(--black);;
    padding:0.5rem
  }
  
  .measurementTable tr:nth-child(even){background-color: #ccc}
  
  
  .measurementTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: var(--black);;
  }

  .center-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
  }


ion-slides{
    --bullet-background-active:var(--primary);
    --bullet-background:var(--darkgray)
  }

  .continue_btn{
    --color:#var(--primary);
  }