<ion-header>
  <ion-toolbar class="box_header">
    <ion-buttons slot="start">
      <ion-back-button class="back_button"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="favorit_button" (click)="addFavorit()">
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{box.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="des" [fullscreen]="true">
  <ion-grid class="wrapper">
    <!-- <ion-row class="titlewrapper">
      <div class="title">{{box.name}}

      </div>
    </ion-row> -->
    <!-- <ion-row class="iconwrapper">
      <div class="iconelement">
        <ion-icon id="sun" name="sunny-sharp"></ion-icon>
      </div>
    </ion-row> -->
    <ion-row class="titlewrapper measurements">
      <table #measurementTable class="measurementTable">

        <tr *ngFor="let sensor of box.sensors">
          <td>{{sensor.title}} </td>
          <td>{{sensor.lastMeasurement.value}} {{sensor.unit}} </td>
        </tr>
      </table>
      <!-- <ion-col *ngFor="let sensor of box.sensors">
        <ion-col class="single_measurement">{{sensor.lastMeasurement.value}} {{sensor.unit}} </ion-col>
      </ion-col> -->
      <!-- <ion-col>
        <ion-icon name="water-outline"></ion-icon> 55%
      </ion-col>
      <ion-col>
        <ion-icon name="thermometer"></ion-icon> 33°C
      </ion-col><br>
      <ion-col>
        <ion-icon name="arrow-down-outline"></ion-icon>  780hPa
      </ion-col> -->
    </ion-row>
    <ion-row class="titlewrapper">
      <div class="time">
        Letzte Messung um {{date}}
      </div>
    </ion-row>
    <ion-row class="canvasElement">
      <ion-slides class="pager" pager="true">
        <ion-slide *ngFor="let sensor of box.sensors">
          <canvas class="actualCanvas" height="240" [id]="sensor.title + 'Canvas'"></canvas>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <!-- <ion-row class="rowelement">
      <ion-col>
        <ion-icon name="sunny-sharp"></ion-icon>
      </ion-col>
      <ion-col>
        {{measurements.Temperatur.value}} °C
      </ion-col>
    </ion-row>
    <ion-row class="rowelement">
      <ion-col>
        <ion-icon name="thermometer-sharp"></ion-icon>
      </ion-col>
      <ion-col>
        {{measurements.Luftfeuchte.value}} %
      </ion-col>
    </ion-row>
    <ion-row class="rowelement">
      <ion-col>
        <ion-icon name="swap-vertical-sharp"></ion-icon>
      </ion-col>
      <ion-col>
        {{ measurements.Luftdruck.value }} hPa
       </ion-col>
    </ion-row>
    <ion-row class="lastelement">
      <ion-range (ionChange)="handleTime($event)" min="0" max="24" step="6" value="{{rangeValue}}"  color="danger">
        <ion-icon slot="start" size="small" name="time-outline"></ion-icon>
        <ion-label slot="start">{{rangeValue}}:00</ion-label>
      </ion-range>
    </ion-row> -->
  </ion-grid>
</ion-content>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{'box.title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="box_background">
  <ion-grid>
    <ion-row class="box_title">
      {{box.name}}
    </ion-row>
    <ion-row class="box_subtitle" *ngIf="box.description;else noDescription">
      {{box.description}}
    </ion-row>
    <div class="sensor_wrapper">
      <div class="box_sensor" *ngFor="let sensor of box.sensors">
        {{sensor.lastMeasurement.value}}
      </div>
    </div>
  </ion-grid>
</ion-content>
<!-- <ion-content>
<ion-grid>
  <ion-card>
    <ion-card-header>
    <ion-card-subtitle>{{box._id}}</ion-card-subtitle>
    <ion-card-title>{{box.name}}</ion-card-title>
  </ion-card-header>
    <ion-card-content *ngIf="box.description;else noDescription">{{box.description}} </ion-card-content>
  </ion-card>
  <ion-row *ngFor="let sensor of box.sensors">
    <ion-card  (click)="forwardSensor(sensor)">
      <ion-card-header>
        <ion-card-title>{{sensor.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="sensor.lastMeasurement;else noMeasurement">{{sensor.lastMeasurement.value}} </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
</ion-content>
-->
<ng-template #noDescription>{{'box.error.description'}}</ng-template>
<ng-template #noMeasurement>{{'box.error.noMeasurement'}} </ng-template> -->